body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: relative;
  /* background: rgba(47, 127, 124, 0.242); */
 background-color: #fce04390;
 background-image: linear-gradient(315deg, #fce043a1 0%, #fb7ba185 74%);
}

.header {
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1) 8%,
    rgba(250, 210, 104, 1) 100%
  ); */
  height: 70px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-header {
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.right-header a {
  padding: 30px;
}

.logo {
  width: 50px;
  height: 100px;
  margin-right: 20px;
  margin-top: 5px;
  padding: 0;
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: 36px;
  margin-left: 20px;
  line-height: 1px;
  margin-top: -15px;
}

.right-header {
  margin-right: 20px;
}
.right-header a {
  padding: 25px;
  z-index: 5;
  text-decoration: none;
  color: #452b29;
}

.right-header a:hover {
  background: rgba(255, 255, 255, 0.461);
  transition: 0.3s;
  border-radius: 5px;
}
.fab {
  width: 100%;
  height: 100%;
}

.tagline {
  font-size: 14px;
  margin-top: -10px;
  padding: 0;
}

.tree {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}
.tree img {
  width: 90%;
  height: 100%;
  margin: auto;
  z-index: -1;
  position: relative;
  left: 100px;
}

/* #words {
  position: absolute;
  width: 90%;
  height: 25%;
  left: 30px;
  top: 5%;
} */

#word-tier-1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

#word-tier-2 {
  width: 80%;
  height: 60px;
  margin-top: -20px;
}

#word-tier-3 {
  width: 90%;
  height: 60px;
  margin-top: -20px;
}

.word-container {
  position: absolute;
  width: 100%;
  height: 300px;
  left: 30px;
  top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.word {
  float: left;
  color: white;
  padding: 4px 6px 4px 6px;
  margin: 6px;
  font-size: 14pt;
  cursor: grab;
  background-color: white;
  box-shadow: 1px 1px grey;
  user-select: none;
  box-sizing: border-box;
  font-variant-ligatures: no-common-ligatures;

  font-family: "Times New Roman", Times, serif;
}

.green.word {
  /* border: 1px solid green; */
  background: #44946B;
  background: #6AA057
}

.red.word {
  /* border: 1px solid red; */
  background: #9c2706;
}

.orange.word {
  /* border: 1px solid orange */
  background: #d45b12;
}

/* .drop-btn {
  margin-top: 8px;
  background-color: #2bb7c9;
  width: 180px;
  border-radius: 5px;
  height: 27px;
  color: white;
  padding: 6px 15px;
  margin-left: 5px;
  border: none;
  font-size: 10pt;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 180px;
  /* min-width: 160px; */
/* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 5px;
} */
#style-controls {
  position: absolute;
  right: 80%;
  top: 40%;
  z-index: 1;
  padding: 5px;
  background: #996b428e;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  width: 200px;
  padding-bottom: 40px;
}

.dropdown {
  position: relative;
}

.drop-btn {
  width: 90%;
  margin: auto;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 180px;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 5px;
}

.drop-btn:hover + .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.search {
  position: absolute;
  z-index: 1;
  right: 63%;
  top: 52%;
  padding: 5px;
  background: #748a7d19;
  box-shadow: -2px 2px 5px #16343ec2;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  width: 500px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.search form {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 600;
  width: 40%;
}

.search form input {
  padding: 10px;
}

#search-button {
  background: #94353c;
  color: white;
  border: 0px;
  border-radius: 5px;
  margin-top: 5px;
}

#search-button:hover {
  cursor: pointer;
  transition: 0.3s;
  background: #6e615a;
}

#add-word-button {
  margin-top: 5px;
  border-radius: 5px;
  border: 0px;
  background: #cf5230;
  color: white;
}

#add-word-button:hover {
  background: #6e352c;
  transition: 0.3s;
  cursor: pointer;
}

/* .user-settings {
  border: 1px solid black;
  height: 200px;
  width: 20%;
  position: absolute;
  top: 60%;
  left: 10%;
} */
.user-area {
  width: 600px;
  height: 350px;
  position: absolute;
  left: 60%;
  top: 50%;
  margin-bottom: none;
  display: flex;
  flex-direction: column;
}

#word-arrangement {
  box-shadow: -2px 2px 5px #16343ec2;
  width: 90%;
  height: 40%;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

#saved-text {
  box-shadow: -2px 2px 5px #16343ec2;
  height: 40%;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.user-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.user-buttons button {
  padding: 10px;
}

#clear-saved-words {
  background: #6e612f;
  border-radius: 5px;
  border: 0px;
  color: white;
}

#clear-saved-words:hover {
  transition: 0.3s;
  background: #c2c290;
  color: white;
  cursor: pointer;
}

#download-words {
  background: white;
  border-radius: 5px;
  border: 1px solid #4a572c;
  color: #4a572c;
}

#download-words:hover {
  background: #4a572c;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #996b42;
  color: white;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(to bottom right, transparent 49.5%, #9F815D 50%),
    linear-gradient(to bottom left, transparent 49.5%, #16343ec2 50%);
}
